@import "../scss/custom";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header{
  background-color: #9494ff;
  .btn_grey{
    &, &:hover{
      background-color: #4a4a4a;
    }
  }
  .btn_blue{
    &, &:hover{
      background-color: #7676b7;
    }
  }
  .btn_grey,
  .btn_blue{
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.wrapper{
  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.board {
  width: 100%;
  border: 5px solid #ffb000;
  div {
    width: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
    background: #f8f8f8;
    border: 1px solid #979797;
    cursor: crosshair;
    transition: background-color 100ms ease-in-out;
  }
  .empty {
    background-color: #f8f8f8;
  }
  .empty:hover {
    background-color: #ffec99;
  }
}

.playercontainer{
  width: 100%;
  .playercard {
    color: #4a4a4a;
    .teal-color {
      border: 1px solid #25b79f;
      background-color: #25b79f;
    }
    .yellow-color {
      border: 1px solid #25b79f;
      background-color: #ffb000;
    }
    .teal-color, 
    .yellow-color{
      width: 50%;
      h1{
        font-size: 48px;
        border-bottom: 1px solid #4a4a4a;
      }
    }
  }

  .playerpoint{
    .ship_box, 
    .point_box{
      width: 50%;
    }
    .point_box img{
      max-width: 20%;
      padding: 3px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .playerpoint > div{
    width: 50%;
  }
}
@include media-breakpoint-up(sm) {
  .board {
    max-width: 450px;
  }
  .playercontainer{
    max-width: 300px;
  }
}