@import "../styles/open-color.css";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Default variable overrides
$body-bg: #ffffff;
$body-color: #111;

$primary: #1864ab;
$danger: #b023e7;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";


// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";




// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// Default variable overrides

@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
  }
  
  // Usage
  .custom-container {
    @include make-container();
  }
